on: [push, pull_request]

name: build

permissions:
  contents: write

jobs:
  build-r:
    runs-on: ${{ matrix.config.os }}

    name: "R: ${{ matrix.config.r }} (${{ matrix.config.os }})"

    strategy:
      fail-fast: false
      matrix:
        config:
          - { os: macOS-latest, r: 'release' }
          - { os: windows-latest, r: 'release' }
          - { os: windows-latest, r: 'oldrel' }
          - { os: ubuntu-22.04, r: 'release', release: true }
          - { os: ubuntu-22.04, r: 'oldrel-1' }

    env:
      R_REMOTES_NO_ERRORS_FROM_WARNINGS: true

    steps:
      - uses: actions/checkout@v4

      - uses: r-lib/actions/setup-pandoc@v2

      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: ${{ matrix.config.r }}
          http-user-agent: ${{ matrix.config.http-user-agent }}
          use-public-rspm: true

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: |
            any::rcmdcheck

      - uses: r-lib/actions/check-r-package@v2

      - name: Test coverage
        if: matrix.config.release
        run: covr::codecov(quiet = FALSE)
        shell: Rscript {0}

  build-node:
    runs-on: ubuntu-latest

    name: Node.js

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: '22'
          cache: 'npm'

      - name: Install dependencies
        run: npm install

      - name: Test
        run: npm run test:cover
